/* You can add global styles to this file, and also import other style files */
.main-button{
    padding: 5px ;
    background-color: rgb(196, 21, 21);
    color: white;
    border-radius: 5px;
}

body{
    background: rgb(233, 233, 233);
}